.hover-nav:hover{
background-color: goldenrod;
}
.vl {
    border-left: 1px solid rgb(248, 250, 248);
    height: 30px;
    margin: 0 10px;
  }
  .goldenrod{
      color: goldenrod;
  }
  
  .center{
      margin: 0, auto;
  }
  .fader{
     text-transform: capitalize;
  }